/* .blue{color: blue;}
.green{color: green;}
#main{
    gap: 10px;
    display: grid;
    width: 80vw;
    background-color: rgb(138, 161, 182);
    grid-template-columns: repeat(5, 1fr);
}
.grid-item{
    background-color: rgb(255, 255, 255);
    height: 300px;
}
.flex{
    display: flex;
}


 */

