nav{
	background-color: #123456;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
}
nav a{
	color: white;
	text-decoration: none;
	font-size: 26px;
	margin: 30px;
	line-height: 50px;
}
main{
	width: 50%;
	margin: 80px auto;
	
}
main p{
	font-size: 22px;
	text-align: justify;
	line-height: 30px;
}
main h1, main h2{
	font-size: 30px; 
	text-align: center;
	color: red;
}
.ancre{
	height: 50px;
	/* background-color: red; */
}






