nav{
	height: 40px;
	background-color: #123456;
	text-align: center;
}
nav a{
	color: white;
	line-height: 40px;
	margin: 30px;
	text-decoration: none;
	transition: 0.3s;
	padding: 5px;
}
nav a:hover{
	color: #123456;
	background-color: white;
}
/* Page accueil */
#accueil{background-color: aqua;}
/* Page Qui sommes nous */
#quisommesnous{background-color: orange;}
/* Page Articles */
#articles{background-color: purple;}
/* Page Contact */
#contact{background-color: pink;}
#contact nav{background-color: red;}


/* div{
	background-color: gray;
	color: white;
	width: 300px;
	height: 300px;
} */